.green-button {
  color: white;
  background-color: #7C977C;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  margin: 0;
}

.big {
  width: 100%;
}

.session-button {
  height: 50%;
  background-color: transparent;
  margin: 5px;
  text-decoration: none;
  color: #AAAAAA;
  border: 2px solid #AAAAAA;
  padding: 5px 10px;
  border-radius: 5px;
  &:hover {
    color: black;
    border: 2px solid black;
  }
}
