.escape-button-wrapper {
  position: absolute;
  right: 75px;
  top: 75px;
  color: $gray;
  button {
    color: inherit;
    background-color: white;
    font-size: 50px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.channel-form-wrapper {
  height: 100%;
  padding-top: 170px;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.create-channel {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 40px;
}

.channel-input {
  width: 575px;
  height: 30px;
  font-size: 20px;
  color: $dark-gray;
  font-weight: 300;
  border-radius: 5px;
  border: 1px solid $gray;
  padding: 10px;
}

.channel-form-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
}

.channel-input::placeholder {
  font-size: inherit;
  color: $gray;
  font-weight: inherit;
}

.channel-form {
  button {
    background-color: $green;
    margin-top: 10px;
    width: 597px;
    height: 50px;
    color: white;
    border-radius: 5px;
    &:hover {
      background-color: $dark-green;
      border-bottom: 5px solid $darkest-green;
    }
    &:active {
      border-bottom: 3px solid #072607;
    }
  }
}
