.user-list {
  position: fixed;
  bottom: 0;
  top: 350px;
  width: inherit;
  overflow: scroll;
}

.user-list-item {
  border-top: 1px solid $light-gray;
  height: 70px;
  display: flex;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  &:hover {
    background-color: #edf7fd;
    border-radius: 5px;
    border: 1px solid #d3ecfa;
  }
}

.user-list-username-area {
  color: $dark-gray;
  padding-left: 15px;
  font-size: 25px;
}
