.home-page-nav-bar {
  background: $purple;
  color: white;
  flex-basis: 220px;
  flex-shrink: 0;
  height: 100vh;
  min-width: 1px;
  max-width: 260px;
}

.nav-bar-header {
  padding: 15px;
  &:hover {
    background-color: darken($purple, 10%);
  }
}
.team-name {
  font-size: 20px;
}
.username {
  margin-top: 5px;
  font-size: 15px;
  color: $gray;
}
.channel-index {
  color: $gray;
}

.channel-index-header {
  background: inherit;
  color: inherit;
  &:hover {
    color: white;
  }
  span {
    font-weight: 300;
  }
}

.channels {
  margin-bottom: 40px;
}

.channel-index-text {
  color: $gray;
  p {
    margin: 5px 0px;
    padding: 0 15px;
  }
}

.message-body {
  color: black;
}

.home-page {
  display: flex;
}

.message-index-header {
  border-bottom: 1px solid $gray;
  padding: 10px;
  height: 60px;
}

.message-index {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-index-header-channel-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.message-index-header-info {
  display: flex;
  font-size: 15px;
  color: #AAAAAA;
}


.channel-index > div > a {
  &:hover {
    background-color: darken($purple, 10%)
  }
  padding: 1px 0;
  display: block;
  display: block;
  border-radius: 0 5px 5px 0;
  margin-right: 5px;
}

// Here be dragons
.active:hover {
  background-color: #65A5A0;
  &:hover {
    background-color: #65A5A0;
  }
}

.active {
  background-color: #65A5A0;
}

.active p {
  color: white;
}

.message-index-items {
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  overflow: scroll;
}

.message-form-container {
  margin: 10px;
}

.message-index-item {
  display: flex;
  margin: 8px 0;

}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 3px;
}

.avatar-area {
  padding-left: 25px;
  padding-right: 10px;
}

.message-header {
  font-weight: bold;
  font-size: 900;
  font-size: 13px;
  color: $dark-gray;
  display: flex;
}

.message-body {
  font-weight: 300;
  font-size: 15px;
  line-height: 150%;
  display: block;
}

.message-time {
  color: $gray;
  font-weight: 300;
}

.message-form-input {
  display: flex;
  width: 100%;
  input {
    flex: 1;
    border-radius: 5px;
    border: 2px solid $light-gray;
    font-size: 15px;
    padding: 10px;
  }
  input::placeholder {
    color: $gray;
    }
}

.new-channel-button {
  background-color: $purple;
  color: $gray;
}

.channels-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px 5px 15px;
  align-items: center;
}

.direct-messages {
  padding: 0px 15px 5px 15px;
}
