.splash-page {
  background-image: url("/assets/yak.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image {
  height: 75vh;
}

.splash-page-header {
  display: flex;
  justify-content: space-between;
  // background-color: #a09bc5;
  align-items: center;
  height: 50px;
}


.logo {
  position: relative;
  margin: 0;
  height: 100%;
  figure {
    height: 100%;
    margin: 0;
    img {
      height: 100%;
    }
  }

}

.login-signup {
  margin-right: 10px;
  margin-right: 15px;
  button {
    height: 50%;
    background-color: transparent;
    margin: 5px;
    a {
      text-decoration: none;
      color: #3A374B;
      border: 2px solid #3A374B;
      padding: 5px 10px;
      border-radius: 5px;
      }
    :hover {
      color: black;
      border: 2px solid black;
    }
  }
}

.splash-page-content {
  color: #3A374B;
  width: 600px;
  position: relative;
  left: 10%;
  top: 20%;

  h1 {
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  a {
    button {
      color: white;
      background-color: #7C977C;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 5px;
      width: 250px;
      height: 50px;
      margin: 0;
    }
    :hover {
      background-color: #5B795B;
      border-bottom: 2px solid #214421;
    }
  }

  .splash-page-content-footer {
    font-size: 15px;
    margin-top: 10px;
  }

  .link-to-sign-in {
    text-decoration: underline;
    color: inherit;
  }

}


.splash-page-footer-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #CCCCCC;
  opacity: 0.9;
}

.splash-page-footer-wrapper {

}

.splash-page-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
  margin-bottom: 30px;
  width: 1000px;
}

.splash-page-footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column-item {
  margin: 7px 0px;
  font-size: 12px;
  text-decoration: none;
  color: #758765;
  :hover {
    cursor: pointer
  }
}

.bottom-links {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  width: 1000px;
  ul {
    width: 125px;
    display: flex;
    margin-right: 75px;
    justify-content: space-between;
  }
  padding: 10px;
  a {
    color: #AAAAAA;
    text-decoration: none;
    font-weight: bold;
  }
}

.bottom-links-wrapper {
  display: flex;
  justify-content: center;
}
